{% extends 'voxpopulirecipes/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Header Section -->
        <div class="col-12 text-center">
            <h1 class="display-4">About Vox Populi Recipes</h1>
            <p class="lead mt-3">A library of personal recipe books.</p>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Mission Section -->
        <div class="col-md-6">
            <h2>My Goal</h2>
            <p>
                I was sick of ad filled, long scrolling recipe blogs that never get to the point.  
                I couldn't find an online recipe site that felt like using my personal recipe notebook.
                So I decided to create one.
            </p>
            <p>
                This is designed to be a place where you can build your personal recipe book.  
                You can use it to store your recipes, create shopping lists,
                and easily flip back and forth between recipes while cooking.  
            </p>
            <p>
                But it's not just for you.  You can also share your recipes with others.  
                I want to create an experience similar to sitting at a table with your personal recipe book amongts
                friends who have their personal recipe book open in front of them.
        </div>
        <!-- Image Section -->
        <div class="col-md-6 text-center">
            {% load static %}
            <img src="{% static 'voxpopulirecipes/recipe_book.webp' %}" class="img-fluid rounded" alt="Cooking together">
        </div>
    </div>

    <div class="row mt-5">
        <!-- Features Section -->
        <div class="col-12">
            <h2>Release Notes</h2>
            <div class="accordion" id="featuresAccordion">

                <!-- Version 1.0 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Version 1.0
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body">
                            <p>
                            Finally FINALLY got this up and hosted live on the correct URL, so I am calling this officially verison 1.0.  
                            We are starting very basically with the ability
                            to add recipes, view recipes, and edit recipes.  
                            This includes adding an image if you choose to a recipe, although there is a known issue with the hosting that
                            I am planning on fixing with S3 hosting.  
                            </p>
                            <p>
                            Coming in the next release: Adding Notes/Comments to recipes.
                            </p>
                            <p>
                            1/6/2025
                            --Grant
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Version 1.01 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Version 1.01
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body">
                            <p>
                            Added the ability to leave notes on a recipe.  You must be logged in to leave a note, and the note tracks and displays who wrote it.  
                            The recipe creator can delete any note where the note creator can only delete thier own notes.  
                            The notes are shown in an accordion layout that defaults to collapsed for compactness.  
                            This may change in the future to either show all expanded by default or only show the most recent note, or the first note, or the last note made
                            by the recipe creator.
                            </p>
                            <p>
                            Coming in the next release: Adding a shopping list feature so you can add ingredients from a recipe into your cart.
                            </p>
                            <p>
                            1/7/2025
                            --Grant
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Version 1.02 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Version 1.02
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body">
                            <p>
                            After spending some real time brainstorming and making a coherent product roadmap, I have decided to push the shopping list features to a later release.  
                            This new Version allows for uses to add reviews to recipes ranging from "would not cook again" through "would cook again" (basially 1-3) 
                            as well as how long it took them to cook it.
                            Going to add some more visualizing of these things to the little cards in the future.  Probably.  Maybe.  I don't make the product roadmap.
                            </p>
                            <p>
                            Coming in the next release: Defaulting to a better view of "my recipe" with crosstabs to sort/filter your recipes and other useful views.
                            </p>
                            <p>
                            1/8/2025
                            --Grant
                            </p>
                        </div>
                    </div>
                </div>


                    <!-- Version 1.03 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Version 1.03
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#featuresAccordion">
                            <div class="accordion-body">
                                <p>
                                Big changes starting to happen on the My Recipes page.  This is now the default view that you are sent to when you are logged ingredient.ingredient_amount
                                The design is for an indexed view of your recipes with the ability to sort and filter them.  This is the first step in a larger plan to make the My Recipes
                                page funcion like a powered up version of your personal recipe book.
                                </p>
                                <p>
                                Coming in the next release: Multiple "browser" like tabs on the myrecipes page to show you "starred recipes" and "recently cooked recipes"
                                </p>
                                <p>
                                1/9/2025
                                --Grant
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Version 1.04 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                Version 1.04
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse show" aria-labelledby="headingFive" data-bs-parent="#featuresAccordion">
                            <div class="accordion-body">
                                <p>
                                You can now edit and add categories to your recipes when creating and editing.
                                For now it is a predefined list of meal types and cuisines, but I plan to make this a user defined list in the future.
                                </p>
                                <p>
                                Coming in the next release: Starred Recipes and some ui tweaks to show some of the details I have added recently like cook time
                                </p>
                                <p>
                                1/11/2025
                                --Grant
                                </p>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Call to Action Section -->
        <div class="col-12 text-center">
            <h2>Join the Vox Populi Community</h2>
            <p>
                Start building your personal and collaborative recipe book today. Share your culinary creations,
                discover new recipes, and cook together with your loved ones.
            </p>
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg mt-3">Get Started</a>
        </div>
    </div>
</div>

<style>
    .accordion-header .accordion-button {
        background-color: #e9ecef; /* Light gray background */
        color: #333; /* Text color */
        border: 1px solid #ddd; /* Border color */
    }
    
    .accordion-header .accordion-button:hover {
        background-color: #e9ecef; /* Slightly darker gray on hover */
        color: #000; /* Text color on hover */
    }
    
    .accordion-header .accordion-button:not(.collapsed) {
        background-color: #e9ecef; /* Active state */
        color: #000;
        border-bottom: none; /* Avoid double borders when expanded */
    }
    
    .accordion-body {
        background-color: #fff; /* Keep the body white */
        border-top: 1px solid #ddd; /* Border between header and body */
    }
</style>
{% endblock %}