{% extends 'voxpopulirecipes/base.html' %}

{% block content %}

<div class="container">
    <h1>All Recipes</h1>
    <p>Here are all the recipes in the database:</p>

    {% comment %} {% if all_recipes|length <= 20 %} {% endcomment %}
    <div class="card-body">
        
            <!-- Latest Recipes Section -->
            <div class="mb-4">
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for recipe in recipes %}
                    <div class="col">
                        <a href="{% url 'voxpopulirecipes:detail' recipe.id %}" class="text-decoration-none">
                            <div class="card h-100 shadow-sm">
                                {% if recipe.image %}
                                    <img
                                        src="{{ recipe.image.url }}" 
                                        class="card-img-top" 
                                        alt="{{ recipe.title }}" 
                                        style="object-fit: cover; height: 200px;"
                                    >
                                {% else %}
                                    <img
                                        {% load static %}
                                        src="{% static 'voxpopulirecipes/logo.png' %}" 
                                        class="card-img-top" 
                                        alt="Default Image" 
                                        style="object-fit: cover; height: 200px;"
                                    >
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">
                                        {{ recipe.title }}
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        


<hr><br/>

<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if recipes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ recipes.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

            <li class="page-item disabled">
                <a href='#' class="page-link">
                    Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
                </a>
            </li>

        {% if recipes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ recipes.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ recipes.paginator.num_pages }}">Last &raquo</a>
            </li>
        {% endif %}

    </ul>
</nav>

<style>
    .card {
        margin: 10px;
        padding: 10px;
        border: 1px solid #25262a;
        border-radius: 5px;
    }

    .card-body {
        padding: 10px;
    }
</style>

{% endblock %}