{% extends 'voxpopulirecipes/base.html' %}

{% block content %}

<div id="body">
{% if latest_recipe_list %}
    <div>
    <h1>Check Out the 5 Latest recipes</h1>
    <ul>
    {% for recipe in latest_recipe_list %}
        <li class="list-group-item"><a href="{% url 'voxpopulirecipes:detail' recipe.id %}">{{ recipe.title }}</a></li>
    {% endfor %}
    </ul>
    <br>

    <h1>Or, click here to be taken to a random recipe</h1>
    <button class="btn btn-warning" id="random_recipe"> Random Recipe </button>
    </div>
{% else %}
    <div>
    <p>No recipes are available.</p>
    </div>
{% endif %}

{% if user.is_authenticated%}

<h1>Submit a new recipe</h1>
<button class="btn btn-success" id="new_recipe" >Submit a new recipe</button>
</div>

{% endif %}


</div>


<script>
    
    // Handle random recipe button click
    document.getElementById("random_recipe").addEventListener("click", function() {
        window.location.href = "{% url 'voxpopulirecipes:random_recipe' %}";
    });

    document.getElementById("new_recipe").addEventListener("click", function() {
        window.location.href = "{% url 'voxpopulirecipes:submit_recipe' %}";
    });
</script>

{% endblock %}