{% extends 'voxpopulirecipes/base.html' %}

{% block content %}
<div class="container mt-4">
    <!-- Recipe Title Section -->
    <div class="card text-center shadow-sm mb-4">
        <div class="card-header bg-dark text-white position-relative">
            <!-- Recipe Title -->
            <h1 class="display-5 text-break mb-0">{{ recipe.title }}</h1>
    
            <!-- Star and Save Buttons -->
            {% if user.is_authenticated %}
            <div class="position-absolute top-0 end-0 p-3 d-flex">
                <!-- Star Button -->
                <button 
                    id="star_recipe_button" 
                    class="btn btn-outline-warning btn-sm square me-2" 
                    title="Star this recipe"
                >
                    <i class="bi {% if starred %}bi-star-fill{% else %}bi-star{% endif %}"></i>
                </button>
    
                <!-- Save Button -->
                {% if user != recipe.creator %}
                <button 
                    id="save_recipe_button" 
                    class="btn btn-outline-info btn-sm square" 
                    title="Save this recipe"
                >
                    <i class="bi {% if saved %}bi-bookmark-fill{% else %}bi-bookmark{% endif %}"></i>
                </button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <a href="{% url 'voxpopulirecipes:view_user_book' recipe.creator.id %}">
                <p class="mb-1"><strong>Created by:</strong> {{ recipe.creator.username }}</p>
            </a>
            <p class="mb-0"><strong>Created on:</strong> {{ recipe.pub_date }}</p>
            
            <p class="mb-0"><strong>Meal Type:</strong> 
                {% if mealTypes|length == 1 %}
                    {{ mealTypes.0.mealType }}
                {% else %}
                    {% for mealType in mealTypes %}
                        {{ mealType.mealType }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
            
            <p class="mb-0"><strong>Cuisine:</strong>
                {% if cuisines|length == 1 %}
                    {{ cuisines.0.cuisine }}
                {% else %}
                    {% for cuisine in cuisines %}
                        {{ cuisine.cuisine }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
            
        </div>
    </div>

    <!-- Recipe Image Section -->   
        
    {% if recipe.image %}
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">
                <div class="image-area mt-4">
                    <img 
                        id="imageResult" 
                        src="{% if recipe and recipe.image %}{{ recipe.image.url }}{% else %}#{% endif %}" 
                        alt="Uploaded image will appear here" 
                        class="img-fluid rounded shadow-sm mx-auto d-block"
                    >
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Recipe Content Section -->
    <div class="row">
        <!-- Ingredients Section -->
        <div class="col-md-5 mb-4">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Ingredients</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for ingredient in recipe.ingredient_set.all %}
                            {% if not ingredient.ingredient_amount %}
                                <li class="list-group-item">{{ ingredient.ingredient_text }}</li>
                            {% else %}
                                {% if not ingredient.ingredient_unit %}
                                    <li class="list-group-item">{{ ingredient.ingredient_amount }} {{ ingredient.ingredient_text }}</li>
                                {% else %}
                                    <li class="list-group-item">{{ ingredient.ingredient_amount }} {{ ingredient.ingredient_unit }} of {{ ingredient.ingredient_text }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Instructions Section -->
        <div class="col-md-7 mb-4">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-success text-white">
                    <h2>Instructions</h2>
                </div>
                <div class="card-body">
                    <ol class="list-group list-group-numbered">
                        {% for instruction in recipe.instruction_set.all|dictsort:"instruction_order" %}
                            <li class="list-group-item">{{ instruction.instruction_text }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Notes Section and Reviews Section -->
    <div class="row mt-3">
        <!-- Notes Section -->
        <div class="col-md-8 mb-4">
            <div class="card shadow-sm mb-4">
                <div class="card-header text-center bg-info text-white">
                    <h2>Notes</h2>
                </div>
                {% if recipe.notes.all %}
                <div class="card-body">
                    <div class="col-12">
                        <div class="accordion" id="notesAccordion">
                            {% for note in recipe.notes.all|dictsort:"note_order" %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ note.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                            data-bs-target="#collapse{{ note.id }}" aria-expanded="false" aria-controls="collapse{{ note.id }}">
                                        {{ note.creator.username }} on {{ note.note_date }}
                                    </button>
                                </h2>
                                <div id="collapse{{ note.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ note.id }}" 
                                    data-bs-parent="#notesAccordion">
                                    <div class="accordion-body">
                                        {{ note.note_text }}
                                    </div>
                                    {% if user.is_authenticated and user == note.creator %}
                                    <div class="d-flex justify-content-end">
                                        <a href="{% url 'voxpopulirecipes:delete_note' note.id %}" class="btn btn-danger">
                                            <i class="bi bi-trash"></i> Delete Note
                                        </a>
                                    </div>
                                    {% elif user.is_authenticated and user == recipe.creator %}
                                    <div class="d-flex justify-content-end">
                                        <a href="{% url 'voxpopulirecipes:delete_note' note.id %}" class="btn btn-danger">
                                            <i class="bi bi-trash"></i> Delete Note
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card-body d-flex justify-content-center">
                    <h4 class="text-center">No notes available.</h4>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="card-footer">
                    <div id="addNoteSection">
                        <a href="#" class="btn btn-primary d-block col-6 mx-auto" id="addNoteButton">Add a Note</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    
        <!-- Reviews Section -->
        {% if user.is_authenticated %}
        <div class="col-md-4 mb-4">
            <div class="card" id="reviewssection">
                <div class="card-header text-center text-white review-card-header">
                    <h2>Reviews</h2>
                </div>
                {% if average_cook_time != 0 or mean_rating != 0%}
                    <div class="card-body d-flex justify-content-between">
                        <!-- Infographic 1: Mean Rating -->
                        {% if mean_rating != 0 %}
                            <div class="text-center">
                                <h4>Mean Rating</h4>
                                <div class="infographic">
                                    <p class="display-4">{{ mean_rating }}</p>
                                    <small>out of 3</small>
                                </div>
                            </div>
                        {% endif %}
            
                        <!-- Infographic 2: Average Cook Time -->
                        {% if average_cook_time != 0 %}
                            <div class="text-center">
                                <h4>Average Cook Time</h4>
                                <div class="infographic">
                                    {%load static%}
                                    <img src="{% static 'voxpopulirecipes/pot_icon.png' %}" alt="Pot Icon" width="50">
                                    <p class="mt-2">{{ average_cook_time }} min</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="card-body d-flex justify-content-center">
                        <h4>No Reviews Yet</h4>
                    </div>
                    {% endif %}
                <div class="card-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-success col-6" id="openReviewModal">I cooked this!</button>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Review and Cook Time</h5>
                        <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="reviewForm">
                            {% csrf_token %}
                            <div id="reviewOptions"></div>
                            <div class="form-group">
                                <label for="cookTime">How long did it take to cook? (minutes)</label>
                                <input type="number" id="cookTime" name="cook_time" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


    <!-- Footer Section -->

    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'voxpopulirecipes:main' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Back To Recipe List
        </a>
        {% if user.is_authenticated and user == recipe.creator %}
            <div class="btn-group">
                <a href="{% url 'voxpopulirecipes:edit_recipe' recipe.id %}" class="btn btn-warning">
                    <i class="bi bi-pencil"></i> Edit Recipe
                </a>
                <a href="{% url 'voxpopulirecipes:delete_recipe' recipe.id %}" class="btn btn-danger">
                    <i class="bi bi-trash"></i> Delete Recipe
                </a>
            </div>
        {% endif %}
    </div>
</div>

<style>

    .review-card-header {
        background-color: #ff8fab;
    }
    .accordion-header .accordion-button {
        background-color: #e9ecef; /* Light gray background */
        color: #333; /* Text color */
        border: 1px solid #ddd; /* Border color */
    }
    
    .accordion-header .accordion-button:hover {
        background-color: #e9ecef; /* Slightly darker gray on hover */
        color: #000; /* Text color on hover */
    }
    
    .accordion-header .accordion-button:not(.collapsed) {
        background-color: #e9ecef; /* Active state */
        color: #000;
        border-bottom: none; /* Avoid double borders when expanded */
    }
    
    .accordion-body {
        background-color: #fff; /* Keep the body white */
        border-top: 1px solid #ddd; /* Border between header and body */
    }

    .selected-rating {
        border: 3px solid #ff8fab; /* Highlight color */
        border-radius: 5px; /* Optional: Smooth corners */
        box-shadow: 0 0 5px rgba(255, 143, 171, 0.75); /* Optional: Glow effect */
    }

    a {
        color: #e9574d;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    a:hover {
        color: #cc4e45;
    }

    a:active {
        color: #e9574d;
    }

    .card-header {
        position: relative;
        padding-top: 3rem; /* Add some space for the buttons */
    }
    
    .card-header h1 {
        margin-bottom: 0;
        white-space: normal; /* Allow the title to wrap to multiple lines */
        word-break: break-word; /* Break long words if necessary */
        text-align: center; /* Center align the title */
    }
    
    .position-absolute.top-0.end-0 {
        display: flex;
        gap: 0.5rem; /* Add space between buttons */
    }




</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addNoteButton = document.getElementById("addNoteButton");
        const addNoteSection = document.getElementById("addNoteSection");

        addNoteButton.addEventListener("click", function(event) {
            event.preventDefault();
            addNoteButton.style.display = "none";

            const noteForm = document.createElement("form");
            noteForm.setAttribute("method", "post");
            noteForm.setAttribute("id", "noteForm");

            const csrfToken = '{{ csrf_token }}'; // Include CSRF token for security
            noteForm.innerHTML = `
                <br>
                <textarea class="form-control mb-3" id="noteText" name="noteText" rows="6" placeholder="Write your note here..." required 
                    style="width: 90%; margin: 0 auto; display: block;"></textarea>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-secondary" id="cancelNote">Cancel</button>
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
            `;
            addNoteSection.appendChild(noteForm);

            const cancelNoteButton = document.getElementById("cancelNote");
            cancelNoteButton.addEventListener("click", function() {
                addNoteSection.removeChild(noteForm);
                addNoteButton.style.display = "block";
            });

            noteForm.addEventListener("submit", function(e) {
                e.preventDefault();
                const noteText = document.getElementById("noteText").value;
                const noteOrder = noteForm.parentElement.querySelectorAll(".accordion").length + 1;
                console.log(noteOrder);
                console.log(noteText);
                fetch("{% url 'voxpopulirecipes:add_note' recipe.id %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken,
                    },
                    body: JSON.stringify({ noteText: noteText, noteOrder: noteOrder }),
                })
                    .then(response => {
                        console.log("Response status:", response.status);
                        return response.json();
                    })
                    .then(data => {
                        console.log("Response data:", data);
                        if (data.success) {
                            console.log("Note added successfully.");
                            location.reload();
                        } else {
                            console.error("Error:", data.error);
                            alert(data.error || "Failed to add the note.");
                        }
                    })
                    .catch(error => console.error("Error:", error));
            });
        });



    });
    document.addEventListener("DOMContentLoaded", function () {
        const recipeId = {{ recipe.id }}; // Pass the recipe ID from the template
        const reviewModal = new bootstrap.Modal(document.getElementById('reviewModal'));
    
        // Add event listener to the "I cooked this!" button
        document.getElementById('openReviewModal').addEventListener('click', function () {
            // Fetch review status when the button is clicked
            fetch(`/check_review_status/${recipeId}/`)
                .then(response => response.json())
                .then(data => {
                    const reviewOptions = document.getElementById('reviewOptions');
                    reviewOptions.innerHTML = ''; // Clear previous content
    
                    if (!data.has_reviewed) {
                        reviewOptions.innerHTML = `
                            <div class="form-group">
                                <label>How likely are you to cook this again?</label>
                                <div>
                                    <button type="button" class="btn btn-danger" name="rating" value="1">Would not Cook Again</button>
                                    <button type="button" class="btn btn-warning" name="rating" value="2">Might cook again</button>
                                    <button type="button" class="btn btn-success" name="rating" value="3">Will cook again</button>
                                </div>
                            </div>
                        `;
    
                        // Attach click event listeners to the rating buttons
                        const buttons = reviewOptions.querySelectorAll('button[name="rating"]');
                        buttons.forEach(button => {
                            button.addEventListener('click', function () {
                                // Remove the highlight from all buttons
                                buttons.forEach(btn => btn.classList.remove('selected-rating'));
    
                                // Add the highlight to the clicked button
                                this.classList.add('selected-rating');
    
                                // Store the selected rating in the form dataset
                                const rating = this.value; // Get the rating value (1, 2, or 3)
                                document.getElementById('reviewForm').dataset.rating = rating;
                                console.log('Rating:', rating);
                            });
                        });
                    }
    
                    // Show the modal
                    document.getElementById('cookTime').value = ''; // Clear the cook time input
                    document.getElementById('modal-close').addEventListener('click', function () {
                        reviewModal.hide();
                    });
                    reviewModal.show();
                })
                .catch(error => console.error('Error fetching review status:', error));
        });
    
        // Handle form submission
        document.getElementById('reviewForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);
    
            // Add the rating to the form data
            const rating = this.dataset.rating; // Retrieve the stored rating
            if (rating) {
                formData.append('rating', rating);
            }
    
            // Send the cook time and rating to the backend
            fetch(`/submit_review/${recipeId}/`, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        reviewModal.hide(); // Close the modal
                        alert('Review submitted successfully!');
                    } else {
                        alert('Failed to submit the review.');
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        const starRecipeButton = document.getElementById("star_recipe_button");
        const saveRecipeButton = document.getElementById("save_recipe_button");

        // Toggle "Star" button
        starRecipeButton.addEventListener("click", function (event) {
            event.preventDefault();
            fetch("{% url 'voxpopulirecipes:star_recipe' recipe.id %}")
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Toggle the icon class
                        const icon = starRecipeButton.querySelector("i");
                        icon.classList.toggle("bi-star");
                        icon.classList.toggle("bi-star-fill");
                    } else {
                        alert(data.error || "Failed to toggle star status.");
                    }
                })
                .catch(error => console.error("Error:", error));
        });

        // Toggle "Save" button
        saveRecipeButton.addEventListener("click", function (event) {
            event.preventDefault();
            fetch("{% url 'voxpopulirecipes:save_recipe' recipe.id %}")
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Toggle the icon class
                        const icon = saveRecipeButton.querySelector("i");
                        icon.classList.toggle("bi-bookmark");
                        icon.classList.toggle("bi-bookmark-fill");
                    } else {
                        alert(data.error || "Failed to toggle save status.");
                    }
                })
                .catch(error => console.error("Error:", error));
        });
    });
</script>

{% endblock %}