{% extends 'voxpopulirecipes/base.html' %}

{% block content %}

{% if user.is_authenticated %}

    <div class='shadow p-4 mb-5 bg-body rounded'> 
    <form action="{% if recipe %}{% url 'voxpopulirecipes:submit_recipe' recipe.id %}{% else %}{% url 'voxpopulirecipes:submit_recipe' %}{% endif %}" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        <input type="hidden" name="deleted_ingredients" id="deleted_ingredients">
        <input type="hidden" name="deleted_instructions" id="deleted_instructions">


        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!-- below is what renders if a recipe is passed in, meaning we are editing a recipe rather than creating a new one -->
        {% if recipe %}
        <div class="container mt-4">
            <fieldset>
                <!-- Recipe Title Section -->
                <div class="card text-center shadow-sm mb-4">
                    <fieldset id="recipe-name-section" class="create_section">
                        <div class="card-header bg-dark text-white">
                            <h1 class="display-5">Edit this recipe</h1>
                            <label for="id_title">Recipe Name:</label>
                            <input autofocus type="text" name="title" id="id_title" value="{{ recipe.title }}" required>
                        </div>
                        <div class="card-body">
                            <p class="mb-1"><strong>Created by:</strong> {{ recipe.creator.username }}</p>
                            <p class="mb-0"><strong>Created on:</strong> {{ recipe.pub_date }}</p>
                            
                        </div>
                    </fieldset>
                </div>
                <!-- Recipe Content Section -->
                <div class="row">
                    <!-- Ingredients Section -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-sm">
                            <fieldset id="ingredients-section" class="create_section">
                                <div class="card-header bg-primary text-white">
                                    <h2>Ingredients</h2>
                                </div>
                                <div class="card-body">
                                    {% for ingredient in recipe.ingredient_set.all %}
                                    <div class="ingredient">
                                        <input type="text" name="ingredient_amount_{{ ingredient.id }}" placeholder="Amount" class="create_ingredient_input" value="{{ ingredient.ingredient_amount }}">
                                        <input type="text" name="ingredient_unit_{{ ingredient.id }}" placeholder="Unit" class="create_ingredient_input" value="{{ ingredient.ingredient_unit }}">
                                        <input type="text" name="ingredient_text_{{ ingredient.id }}" placeholder="Ingredient" class="create_ingredient_input" value="{{ ingredient.ingredient_text }}"required >
                                        <button type="button" class="btn btn-danger" onclick="deleteIngredient(this, {{ ingredient.id }})">Delete</button>
                                    </div>
                                    {% endfor %}
                                    <div id="ingredients-list">
                                    </div>
                                </div>
                                

                                <button type="button" class="btn btn-secondary" id="add-ingredient">Add another ingredient</button>
                            </fieldset>
                        </div>
                    </div>


                    <!-- Instructions Section -->
                    <div class="col-md-6 mb-4">
                        <div class="card shadow-sm">
                            <fieldset id="instructions-section" class="create_section">
                                <div class="card-header bg-success text-white">
                                    <h2>Instructions</h2>
                                </div>
                                <div class="card-body">
                                    {% for instruction in recipe.instruction_set.all %}
                                    <div class="instruction">
                                        <textarea name="instruction_text_{{ instruction.id }}" placeholder="Instruction" class="create_instruction_input" required>{{ instruction.instruction_text }}</textarea>
                                        <button type = "button" class="btn btn-danger" onclick="deleteInstruction(this, {{ instruction.id }})">Delete</button>
                                    </div>
                                    {% endfor %}
                                    <div id="instructions-list">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" id="add-instruction">Add another instruction</button>
                            </fieldset>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <!-- Image Upload Section -->
                    <div class="col-md-7">
                        <div class="card shadow-sm">
                            <div class="card-header text-center bg-dark text-white">
                                <h2>Upload an Image</h2>
                            </div>
                            <div class="card-footer bg-dark text-white">
                                <div class="row py-4">
                                    <div class="col-lg-6 mx-auto">
                                        <!-- Upload image input -->
                                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                            <input id="upload" type="file" name="image" onchange="readURL(this, 'imageResult');" class="form-control border-0">
                                            <label id="upload-label" for="upload" class="font-weight-light text-muted"></label>
                                            <div class="input-group-append">
                                                <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
                                                    <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                    <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
                                                </label>
                                            </div>
                                        </div>
                                
                                        <!-- Uploaded image area -->
                                        <div class="image-area mt-4">
                                            <img 
                                                id="imageResult" 
                                                src="{% if recipe and recipe.image %}{{ recipe.image.url }}{% else %}#{% endif %}" 
                                                class="img-fluid rounded shadow-sm mx-auto d-block"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Categorize Section -->
                    <div class="col-md-5">
                        <div class="card shadow-sm">
                            <div class="card-header text-center bg-dark text-white">
                                <h2>Categorize</h2>
                            </div>
                            <div class="card-body">
                                <label for="mealtype">Meal Type:</label>
                                <select id="mealtype" name="mealtype" class="form-control mb-3" data-live-search="true">
                                    <option value="" disabled {% if not recipe or not recipe.mealType %}selected{% endif %}>-- Select --</option>
                                    {% for mealtype in mealtypes %}
                                    <option value="{{ mealtype.id }}" {% if recipe and recipe.mealType.id == mealtype.id %}selected{% endif %}>
                                        {{ mealtype.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                    
                                <label for="cuisine">Cuisine:</label>
                                <select id="cuisine" name="cuisine" class="form-control mb-3" data-live-search="true">
                                    <option value="" disabled {% if not recipe or not recipe.cuisine %}selected{% endif %}>-- Select --</option>
                                    {% for cuisine in cuisines %}
                                    <option value="{{ cuisine.id }}" {% if recipe and recipe.cuisine.id == cuisine.id %}selected{% endif %}>
                                        {{ cuisine.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            <input type="submit" class="btn btn-success" value="Publish">
            <hr>
        </div>









        {% else %}

        <div class="container mt-4">
            <fieldset>
                <!-- Recipe Title Section -->
                <div class="card text-center shadow-sm mb-4">
                    <fieldset id="recipe-name-section" class="create_section">
                        <div class="card-header bg-dark text-white">
                            <legend><h1>Create a new recipe</h1></legend>
                            <label for="id_title">Recipe Name:</label>
                            <input autofocus type="text" name="title" id="id_title" required>
                        </div>
                    </fieldset>
                </div>

            <div class="row">
                <!-- Ingredients Section -->
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <fieldset id="ingredients-section" class="create_section">
                            <div class="card-header bg-primary text-white">
                                <h2>Ingredients</h2>
                            </div>
                            <div class="card-body">
                                <div class="ingredient">
                                    <input type="text" id="ingredient_amount_1" name="ingredient_amount_1" placeholder="Amount" class="create_ingredient_input">
                                    <input type="text" id="ingredient_unit_1" name="ingredient_unit_1" placeholder="Unit" class="create_ingredient_input">
                                    <input type="text" id="ingredient_text_1" name="ingredient_text_1" placeholder="Ingredient" class="create_ingredient_input" required >
                                    <button type="button" class="btn btn-danger" onclick="deleteIngredient(this)">Delete</button>
                                </div>
                                <div id="ingredients-list">
                                </div>
                            </div>

                                <button type="button" class="btn btn-secondary" id="add-ingredient">Add another ingredient</button>
                            </fieldset>
                        </div>
                    </div>

                            
                <!-- Instructions Section -->
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                            <fieldset id="instructions-section" class="create_section">
                                <div class="card-header bg-success text-white">
                                    <h2>Instructions</h2>
                                </div>
                                <div class="card-body">
                                    <div class="instruction">
                                        <textarea name="instruction_text_1" placeholder="Instruction" class="create_instruction_input" required></textarea>
                                        <button type="button" class="btn btn-danger" onclick="deleteInstruction(this)">Delete</button>
                                    </div>
                                    <div id="instructions-list">
                                    </div>
                                </div>
                            <button type="button" class="btn btn-secondary" id="add-instruction">Add another instruction</button>
                            </fieldset>
                        </div>
                    </div>
            </div>

            <div class="row">
                <!-- Image Upload Section -->
                <div class="col-md-7">
                    <div class="card shadow-sm">
                        <div class="card-header text-center bg-dark text-white">
                            <h2>Upload an Image</h2>
                        </div>
                        <div class="card-footer bg-dark text-white">
                            <div class="row py-4">
                                <div class="col-lg-6 mx-auto">
                                    <!-- Upload image input -->
                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                        <input id="upload" type="file" name="image" onchange="readURL(this, 'imageResult');" class="form-control border-0">
                                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
                                                <i class="fa fa-cloud-upload mr-2 text-muted"></i>
                                                <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
                                            </label>
                                        </div>
                                    </div>
                            
                                    <!-- Uploaded image area -->
                                    <div class="image-area mt-4">
                                        <img 
                                            id="imageResult" 
                                            src="{% if recipe and recipe.image %}{{ recipe.image.url }}{% else %}#{% endif %}" 
                                            class="img-fluid rounded shadow-sm mx-auto d-block"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categorize Section -->
                <div class="col-md-5">
                    <div class="card shadow-sm">
                        <div class="card-header text-center bg-dark text-white">
                            <h2>Categorize</h2>
                        </div>
                        <div class="card-body">
                        {% for mealtype in mealtypes %}
                        {{ mealtype.name }}
                        {% endfor %}
                            <label for="mealtype">Meal Type:</label>
                            <select id="mealtype" name="mealtype" class="form-control mb-3">
                                {% for mealtype in mealtypes %}
                                <option value="{{ mealtype.id }}">
                                    {{ mealtype.name }}
                                </option>
                                {% endfor %}
                            </select>
                            
                            <label for="cuisine">Cuisine:</label>
                            <select id="cuisine" name="cuisine" class="form-control mb-3">
                                {% for cuisine in cuisines %}
                                <option value="{{ cuisine.id }}">
                                    {{ cuisine.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Publish">
        <hr>
    </div>

        {% endif %}
    </form>
    </div>

{% else %}
<div class='shadow p-4 mb-5 bg-body rounded'>
    <h1>You must be logged in to submit a recipe</h1>

    <br>
    <br>

    
    <a href="{% url 'login' %}">Login Here</a>
</div>

{% endif %}


<style>

    .instruction {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .create_instruction_input {
        flex:1;
        min-width: 200px;
    }

    .btn-danger {
        flex-shrink: 0;
    }

    .ingredient, .instruction {
        margin-bottom: 10px;
    }

    .create_section {
        margin-bottom: 20px;
    }

    .create_ingredient_input, .create_instruction_input {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .create_instruction_input {
        width: 100%;
    }

    .file-input::file-selector-button {
        background-color: #6c757d; /* Custom button background */
        color: white;             /* Button text color */
        border: none;             /* Remove border */
        padding: 10px 20px;       /* Add padding for size */
        border-radius: 5px;       /* Rounded corners */
        cursor: pointer;          /* Pointer cursor */
        font-size: 1rem;          /* Text size */
        transition: background-color 0.3s ease; /* Smooth hover effect */
        width: 100%;
    }

    /* Hover effect */
    .file-input::file-selector-button:hover {
        background-color: #5a6268;
    }

    /* Focus effect */
    .file-input::file-selector-button:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    /*
    *
    * ==========================================
    * CUSTOM UTIL CLASSES
    * ==========================================
    *
    */
    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(255, 255, 255, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }
</style>


<script>

    let deletedIngredients = [];
    let deletedInstructions = [];

    function deleteIngredient(button, ingredientId=null) {

        const ingredientDiv = button.parentNode;
        const inputs = ingredientDiv.querySelectorAll('input');
    
        inputs.forEach(input => input.disabled = true);
        ingredientDiv.style.display = 'none';

        if (ingredientId) {
            deletedIngredients.push(ingredientId);
            document.getElementById('deleted_ingredients').value = deletedIngredients.join(',');
        }
    }

    function deleteInstruction(button, instructionId=null) {
        const instructionDiv = button.parentNode;
        const inputs = instructionDiv.querySelectorAll('textarea');
    
        inputs.forEach(input => input.disabled = true);
        instructionDiv.style.display = 'none';
        if (instructionId) {
            deletedInstructions.push(instructionId);
            document.getElementById('deleted_instructions').value = deletedInstructions.join(',');
        }
    }

    // on page load, create the event listeners and set up incrementing ingredient count
    document.addEventListener("DOMContentLoaded", function() {

        let ingredientCount = 1;
        let instructionCount = 1;
    
        // checks if there was a recipe passed in therefore it is an edit instead of a fresh recipe
        const editing = {% if recipe %}true{% else %}false{% endif %};
        console.log(editing);
    
        if (editing) {
            {% if recipe.ingredient_set.all %}
                {% with recipe.ingredient_set.all|dictsort:"id" as sorted_ingredients %}
                    {% with sorted_ingredients|last as last_ingredient %}
                        ingredientCount = {{ last_ingredient.id }};
                    {% endwith %}
                {% endwith %}
            {% endif %}
    
        console.log("Highest Ingredient ID:", ingredientCount);
            {% if recipe.instruction_set.all %}
                {% with recipe.instruction_set.all|dictsort:"id" as sorted_instructions %}
                    {% with sorted_instructions|last as last_instruction %}
                        instructionCount = {{ last_instruction.id }};
                    {% endwith %}
                {% endwith %}
            {% endif %}
            
            instructionCount = {{ recipe.instruction_set.all|length }};
            console.log("Highest Instruction ID: ", instructionCount);
        }

        // add a listener for the add ingredient button
        document.getElementById("add-ingredient").addEventListener("click", function() {
            console.log(ingredientCount);
            ingredientCount++;
            console.log(ingredientCount);

            // onclick of add ingredient button, make a new div and set the class
            const ingredientDiv = document.createElement("div");
            ingredientDiv.classList.add("ingredient");

            // set the content of the new div using the ingredient count so each set has its own unique names
            ingredientDiv.innerHTML = `
                <input type="text" id="ingredient_amount_${ingredientCount}" name="ingredient_amount_${ingredientCount}" placeholder="Amount" class="create_ingredient_input">
                <input type="text" id="ingredient_unit_${ingredientCount}" name="ingredient_unit_${ingredientCount}" placeholder="Unit" class="create_ingredient_input">
                <input type="text" id="ingredient_text_${ingredientCount}" name="ingredient_text_${ingredientCount}" placeholder="Ingredient" class="create_ingredient_input" required>
                <button type="button" class="btn btn-danger" onclick="deleteIngredient(this)">Delete</button>
            `;

            // append to the ingredient section
            document.getElementById("ingredients-list").appendChild(ingredientDiv);
        });

        // basically does the same thing but for instructions
        document.getElementById("add-instruction").addEventListener("click", function() {
            instructionCount++;

            const instructionDiv = document.createElement("div");
            instructionDiv.classList.add("instruction");

            instructionDiv.innerHTML = `
                <textarea name="instruction_text_${instructionCount}" placeholder="Instruction" class="create_instruction_input" required></textarea>
                <button type="button" class="btn btn-danger" onclick="deleteInstruction(this)">Delete</button>
            `;

            document.getElementById("instructions-list").appendChild(instructionDiv);
        });
    });

    // Function to show the uploaded image
    function readURL(input, targetImageId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById(targetImageId).src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // Function to display the uploaded file name
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', function () {
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    });     
</script>

{% endblock %}